<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP5</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/especeoiseau">Espèces d'oiseau</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Bienvenue<br />à la<br /><span class="hotel1">BD sur les oiseaux</span>
  </p>
  <button type="button" class="btn" routerLink="/especeoiseau">Voyez les espèces d'oiseaux &#10140;</button>
</div>

<router-outlet></router-outlet>
